/* toolbar */
#Musubi-toolbar {
  min-height: 26px;
}

#Musubi-toolbar-sidebar-button {
  padding: 0 !important;
}

#Musubi-toolbar-sidebar-button > .toolbarbutton-icon {
  margin: 0px 6px !important;
}

toolbarpaletteitem[place="toolbar"] .Musubi-toolbar-dynamic-item {
  display: none;
}

#Musubi-toolbar-sidebar-button {
  list-style-image: url("chrome://musubi/skin/images/buttons.png");
  -moz-image-region: rect(0px 208px 23px 183px);
}

#Musubi-toolbar-sidebar-button[checked="true"] {
  -moz-image-region: rect(23px 208px 46px 183px);
}

toolbar[iconsize="small"] #Musubi-toolbar-sidebar-button {
  -moz-image-region: rect(46px 180px 62px 164px);
}

toolbar[iconsize="small"] #Musubi-toolbar-sidebar-button[checked="true"] {
  -moz-image-region: rect(62px 180px 78px 164px);
}
